fastapi
uvicorn
tensorflow
keras
python-multipart
oauthlib
python-jose[cryptography]
sqlalchemy
python-dotenv
passlib[bcrypt]
sqlalchemy
psycopg2-binary
pillow
pydantic[email]
pytest
pytest-asyncio
httpx

